<!DOCTYPE html>
<html>
<head>
  <title>JoinASquad</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="alert-message error"><%= alert %></div>
  <div class="alert-message info"><%= notice %></div>

<%= yield %>

</body>
</html>
